<ion-header>
  <ion-toolbar>
    <ion-title>Rest Timer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="timer-container">
    <div class="timer-circle">
      @for (time of timeInSeconds; track time) {
        <div class="time-interval" (click)="startTimer(time)">
          {{ formatTime(time) }}
        </div>
      }
    </div>

    <div class="timer-action-buttons">
      <div>-10 seconds</div>
      <div>+10 seconds</div>
      <div>Skip</div>
    </div>
  </div>


  <ion-button expand="block" (click)="startTimer(0)">
    Create Custom Timer
  </ion-button>
</ion-content>
