<ion-header>
  <ion-toolbar>
    <ion-title>Rest Timer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        <ion-label>
          Choose a duration below or set your own. Custom durations are saved for next time.
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-radio value="60" (click)="startTimer(60)">1:00</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="90" (click)="startTimer(90)">1:30</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="120" (click)="startTimer(120)">2:00</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button expand="block" (click)="startTimer(0)">
    Create Custom Timer
  </ion-button>
</ion-content>
